@font-face {
    font-family: "makgeolli";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/makgeolli/makgeolli.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/makgeolli/makgeolli.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/makgeolli/makgeolli.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/makgeolli/makgeolli.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/makgeolli/makgeolli.ttf") format("truetype");
    font-display: swap;
} 
.makgeolli {
    font-family: "makgeolli";
}